.container
    .jumbotron
        h1 Dashboard
        p Welocome to ____ station's listeners dashboard
    .row
        .col-md-6
            div(id="reach-plot")
        .col-md-6
            div(id="pie-plot")